@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel-container {
  transition: scrollLeft 0.3s ease-in-out;
}

.carousel-item {
  transition: margin-right 0.3s ease-in-out;
}

.MuiButton-outlined {
  border-radius: 50px !important;
}
